#smiley{
    font-size: 50px;
    padding-top: 15px;
}

i.far.fa-file-pdf {
    font-size: 32px;
}

/* below is my new CSS code, above was boilerplate react css */

body, html {
    height: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/images/leaders.jpg");
    background-size: cover; */
    /* height: 50%; */
    background-color: #9cafb7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}

.login-button, .logout-button{
    margin: 5px;
}

.login-page {
    display: flex;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./static/images/blackLivesMatter.jpg"); */
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-size: cover;
    /* height: 50%; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    margin: 0;
    padding: 0; 
}

.ui.inverted.segment, .ui.primary.inverted.segment{
    width: 30%;
}

.ui.padded.segment {
    width: 200px;
}

#my-title {
    font-size: 100px;
}
h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child{
    margin-bottom: 150%;
}

.button-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

i.fas.fa-skull {
    font-size: 20px;
}


/* body {

} */

/* .main-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/leaders.jpg");

    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}
*/

/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
